.terragrunt-cache/
.terraform/
tf.plan
terraform.tfstate*
local/*local*.tfvars
local*.tfvars
.test-data
.DS_Store
.idea
.vscode

# Ignore all secrets files, keep directory placeholder
secrets/*
!secrets/.gitkeep

# Homerbew package lock
Brewfile.lock.json
