.test-data
.DS_Store
.idea
.vscode

# Ignore all secrets files, keep directory placeholder
secrets/*
!secrets/.gitkeep

# Homebrew package lock
Brewfile.lock.json

# Terraform
backend.tf
.terragrunt-cache/
.terraform/
tf.plan
terraform.tfstate*
local/*local*.tfvars
local*.tfvars
