apiVersion: certmanager.k8s.io/v1alpha1
kind: Issuer
metadata:
  name: {{ .Values.issuerName }}
spec:
{{- if .Values.selfSigned.enabled }}
  selfSigned: {}
{{- end}}
{{- if .Values.acme.enabled }}
  acme:
    server: {{ .Values.acme.server }}
    email: {{ .Values.acme.email }}
    privateKeySecretRef:
      name: lead-issuer-key
{{- if .Values.acme.httpProvider.enabled }}
    http01: 
      ingressClass: {{ .Values.acme.httpProvider.ingressClass }}
{{- end}}
{{- if .Values.acme.dnsProvider.enabled }}
    dns01:
      providers: 
      - {{ .Values.acme.dnsProvider.name }}
{{- if .Values.acme.dnsProvider.typeIsRoute53 }}
        route53:
          region: {{ .Values.acme.dnsProvider.region }}
          hostedZoneID: {{ .Values.acme.dnsProvider.hostedZoneID }}
{{- end}}
{{- end}}
{{- end}}
