name: Release

on:
  push:
    branches:
      - master
    paths:
      - 'modules/**'
      - 'stacks/**'
      - 'stages/**'
      - '.releaserc.yaml'
      - '.github/workflows/release.yml'
  workflow_dispatch:

concurrency:
  group: release

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.release.outputs.changed }}
      previousVersion: ${{ steps.release.outputs.previousVersion }}
      newVersion: ${{ steps.release.outputs.newVersion }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Release
        id: release
        uses: liatrio/github-actions/conventional-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  update:
    needs: release
    runs-on: ubuntu-latest
    if: needs.release.outputs.changed == 'true'
    steps:
      - name: Checkout lead-environments
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          persist-credentials: false
          repository: ${{ github.repository_owner }}/lead-environments
          token: ${{ secrets.LIATRIO_JENKINS_PAT }}
      - name: Update Version Manifest (nonprod)
        uses: liatrio/github-actions/gitops-update-yaml@master
        with:
          file: aws/liatrio-non-prod/manifest.yml
          path: .lead_terraform_version
          value: ${{ needs.release.outputs.newVersion }}
      - name: Update Version Manifest (sandbox)
        uses: liatrio/github-actions/gitops-update-yaml@master
        with:
          file: aws/liatrio-sandbox/manifest.yml
          path: .lead_terraform_version
          value: ${{ needs.release.outputs.newVersion }}
      - name: Create Pull Request
        uses: liatrio/github-actions/gitops-gh-pr@master
        with:
          repo: ${{ github.repository_owner }}/lead-environments
          token: ${{ secrets.LIATRIO_JENKINS_PAT }}
          commit-prefix: "build"
          message: "update lead-terraform from ${{ needs.release.outputs.previousVersion }} to ${{ needs.release.outputs.newVersion }}"
